*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "poppins", sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 1000px;
}
.container{
    width:50%
}